/** Estilos propios*/
div.m-areas
  > div.m-area
  > div.m-panel.m-selector-panel.opened
  > button.m-panel-btn {
  background-color: #536dfe !important;
  color: #FFFFFF
}

div.m-areas
  > div.m-area
  > div.m-panel.m-selector-panel.collapsed
  > button.m-panel-btn {
  background-color: #536dfe !important;
  color: #FFFFFF
}

.m-areas > div.m-area > div.m-panel.m-selector-panel.opened {
  background-color: transparent !important;
  box-shadow: none !important;
  position:absolute !important;
  margin-right:25vw !important;
  /* margin-left:40 !important; */
  margin-top: 10px;
}

.m-areas > div.m-area > div.m-panel.m-selector-panel.collapsed {
  border-radius: 20px;
  height: 0px;
}

.m-inputselectaddlayer-content-image{
  display: inline;
  vertical-align: -10px !important
}

#m-inputselectaddlayer-content{
  border-radius: 10px;
  background-color: #f4f4f4 !important;
}

.m-areas > div.m-area > div.m-panel.m-selector-panel.opened > div.m-panel-controls {
	width: 50vw !important;
  border-radius: 10px !important;
}


.m-inputselectaddlayer-content-title {
  border-radius: 10px;
  vertical-align: middle;
  padding: 5px 5px 5px 5px;
  width: 100%;
  font-size: 13px;
  text-align: center;
  color: #6c6c6c;
  background-color: #f4f4f4 ;
  font-weight: bold;
  font-family: Muli, "sans-serif";
}

.m-inputselectaddlayer-content-body {
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  background-color: #f4f4f4;
  border-radius: 10px;
  padding-right: 10px !important;
}

div.m-control.m-container.m-inputselectaddlayer {
  border-radius: 10px !important;
  background-color: #f4f4f4 !important;
  width: auto !important;
  margin: auto !important;
}

select.m-inputselectaddlayer-select {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 25px;
  width: 95%;
  cursor: pointer;
  padding: 0px 7px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #6c6c6c;
  font-family: Muli, "sans-serif";
}

select.m-inputselectaddlayer-select:disabled{
  background-color: #ccc !important;
}

.select-group{
  width: 22vw!important;
}

.select-layer{
    width: 22vw!important;
}
