<div id="inputselectaddlayer" class="m-control m-container m-inputselectaddlayer" draggable="true">
  <div id="m-inputselectaddlayer-content" class="m-inputselectaddlayer-content">
    {{#if title}}
    <div id="m-inputselectaddlayer-content" class="m-inputselectaddlayer-content">
      <div id="m-inputselectaddlayer-content-title" class="m-inputselectaddlayer-content-title">
        {{title}}
      </div>
      {{/if}}
    <div id="m-inputselectaddlayer-content-body" class="m-inputselectaddlayer-content-body">
      <select id='layerSelector' class="m-inputselectaddlayer-select" name="select">
        <option value=""> --- Selecciona una capa --- </option>
        {{#each groups}}
        <optgroup label="{{group}}">
          {{#each layers}}
          <option value="{{this.id}}">{{this.title}}</option>
          {{/each}}
          {{/each}}
        </optgroup>
      </select>
    </div>
  </div>
</div>