<div id="div-contenedor" class="m-control m-container m-inputselectaddlayer">
  <div id="m-inputselectaddlayer-content" class="m-inputselectaddlayer-content">
    <div id="m-inputselectaddlayer-content-title" class="m-inputselectaddlayer-content-title">
      {{title}}
    </div>
    <div id="m-inputselectaddlayer-content-body" class="m-inputselectaddlayer-content-body">
      <select id='layerSelector' class="m-inputselectaddlayer-select" name="select">
        <option value=""> --- Selecciona una capa --- </option>
        {{#each groups}}
        <optgroup label="{{group}}">
          {{#each layers}}
          <option value="{{this.id}}">{{this.title}}</option>
          {{/each}}
          {{/each}}
        </optgroup>
      </select>
    </div>
  </div>
</div>